.droppedItem {
  position: absolute;
  display: inline;
  padding: 0.3rem;
  transform: translate(-50%, -50%);
  outline: none;
  transition: left 400ms ease-in-out, top 400ms ease-in-out;
}
.droppedItem input,
.droppedItem button,
.droppedItem p {
  outline: none;
  display: inline;
}
.borderRed {
  border: 1px solid red;
}
