* {
  font-family: "Open Sans";
}
button {
  cursor: pointer;
}
.draggable {
  cursor: grab;
}
.scrollbar {
  overflow: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
.error {
  display: grid;
  place-items: center;
  height: 100vh;
}
.error div {
  text-align: center;
}
